page-noticias {
    .content {
        background-color: #cbf7c7;
        background-image: url(../../assets/imgs/bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
    }
}
