page-oportunidades-detail {
    .content{
        background-color: #FFF;
        background-size: cover; 
    }
    ion-content{
        background-image: url("../assets/imgs/back.png");
    }    
}
