page-oportunidades {
    .content {
        background-color: #FFF;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
    }
    .itens{
        background-color:rgba(0, 0, 0, 0.0);
    }
    p{
        color:black;
        text-align: justify;

    }
    ion-content{
        background-image: url("../assets/imgs/back.png");
    }    
}
