page-oportunidades {
    .content {
        background-image: linear-gradient(to bottom right, #98FB98, #008B8B);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
    }
    .itens{
        background-color:rgba(0, 0, 0, 0.0);
    }
    p{
        color:black;
    }
}
