<ion-header>

    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Oportunidades</ion-title>
    </ion-navbar>
  
  </ion-header>

<!--<ion-content padding>
    <ion-list>
        <button ion-item *ngFor = "let item of items">
          <ion-thumbnail item-start>
            <img src="{{bucketUrl}}/oportu{{item.id}}.jpg">
          </ion-thumbnail>
          <h2>{{ item.nomeEmpresa}}</h2>
          <h2>{{ item.curso}}</h2>
          <h2>{{ item.semestre}} semestre</h2>
        </button>
      </ion-list>
      
</ion-content>-->

<ion-card ion-item *ngFor = "let item of items">
    <img src="{{bucketUrl}}/oportu{{item.id}}.jpg">
    <ion-card-content>
      <ion-card-title>
        {{ item.nomeEmpresa}}
      </ion-card-title>
      <p>
      {{ item.curso}}, {{ item.semestre}} semestre 

      </p>
    </ion-card-content>
</ion-card>
