page-principal {
    ion-content{
        background-image: url("../assets/imgs/back.png");
    }    
    .opLetras2{
        color : #0B9246;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif
    }
    ion-icon {
        font-size: 35px;
        color: #2B589B;
     }
     .opEventos{
        background-image: url("../assets/imgs/eventos_button.png");
        background-repeat: no-repeat;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
        padding-bottom: 50px;
     }

     .opNoticias{
        background-image: url("../assets/imgs/noticias_button.png");
        background-repeat: no-repeat;     
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
        padding-bottom: 50px;
    }

     .opVagas{
        background-image: url("../assets/imgs/vagas_button.png");
        background-repeat: no-repeat;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
        padding-bottom: 50px;
     }

     .opPerfil{
        background-image: url("../assets/imgs/perfil_button.png");
        background-repeat: no-repeat;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
        padding-bottom: 50px;
     }
}
