<ion-header>

  <ion-navbar transparent>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class = "circle" [src]="usuario?.imageURL ||  'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h2 text-center>{{usuario?.nome}}</h2>
  <p text-center>{{usuario?.email}}</p>
  <ion-footer no-border>
      <ion-toolbar transparent>
          <ion-card>
              <ion-card-header>
              </ion-card-header>
              <ion-item *ngIf="picture">
                <img [src]="picture">
              </ion-item>
              <ion-item>
                <button ion-button  block (click)="getCameraPicture()" [disabled]="cameraOn">Câmera</button>
                <button ion-button  block (click)="getGalleryPicture()" [disabled]="cameraOn">Galeria</button>
                <button *ngIf="picture" ion-button  outline block (click)="sendPicture()">Salvar foto</button>
                <button *ngIf="picture" ion-button  block (click)="cancel()"> Excluir</button>
              </ion-item>
            </ion-card>      </ion-toolbar>
  </ion-footer>
</ion-content>
