page-profile {
    .circle{
        width: 80%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }
    ion-content{
        background-image: url("../assets/imgs/back.png");
    }    
}