page-home {
    h3{
        text-align: center
    }
    img{
        width: 300px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
    .content {
        background-color: #cbf7c7;
        background-image: url(../../assets/imgs/bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
    }
}
