page-home {
    ion-content{
        background-image: url("../assets/imgs/back.png");
    }  
    h3{
        text-align: center
    }
    img{
        width: 500px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
        padding-bottom: 100px;
    }
    p{
        text-align: center;
    }
    .imgcairu{
        width: 180px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
}
