.itens{
    background-color:rgba(0, 0, 0, 0.0);
}

ion-icon {
    font-size: 30px;
    color: #2B589B;
 }
.menuLateral{
    background-color:rgba(0, 0, 0, 0.7);
    background-image: url("../assets/imgs/back2.png");
}
.opLetras{
    color : white;
    font-size: 30px;
}