.itens{
    background-color:rgba(0, 0, 0, 0.0);

}
ion-icon {
    font-size: 35px;
    color: #0B9246;
 }
.menuLateral{
    background-color:rgba(0, 0, 0, 0.7);
    background-image: url("../assets/imgs/back2.png");
}
.opLetras{
    color : white;
    font-size: 25px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif
}