<ion-header>
  <ion-navbar transparent>
    <ion-title>Cadastre-se</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <form  [formGroup]= "formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item class="itens">
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>
    <ion-item class="itens">
        <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>
    <ion-item class="itens">
        <ion-label stacked>CPF ou CNPJ</ion-label>
      <ion-input formControlName="cpfOuCnpj" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cpfOuCnpj.dirty && formGroup.controls.cpfOuCnpj.errors" margin-left>Valor inválido</p>
    <ion-item class="itens">
        <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item> 
    <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>Valor inválido</p>
    <ion-footer no-border>
        <ion-toolbar transparent>
            <button ion-button block type="submit" [disabled]="formGroup.invalid">Criar conta</button>
        </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>

